{% extends 'layout.html' %}

{% block title %}
{{ title }} {% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
    <div class="container-fluid py-5">

        <h1 class="display-5 fw-bold">{{ title }}</h1>

        <p class="col-md-8 fs-4">
            Toto je naša prvá stránka generovaná cez Flask a Jinja2 šablónu.
            Štýlovanie je riešené cez Bootstrap triedy.
        </p>
        <button class="btn btn-primary btn-lg" type="button">
            Príklad Bootstrap tlačidla
        </button>
    </div>
</div>
{% endblock %}